@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;  /* Bold for headings */
}

p {
    font-weight: 400;  /* Normal weight for paragraphs */
}

a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}